


body {
  background-color: lightgrey;
  margin-left: 10%;
	margin-right: 40%;
	border-radius: 15px;
	height: 100px;


}
 

h1 {
  color: black;
  

  font-size: 45px;
}


h2 {
  color: black;
  font-size:25px;
}


h3 {
  color: black;
  font-size: 25px;
  
}

h4 {
  color: black;
  font-size:25px;
}



h5 {
  color: black;
  font-size:25px;
}

h6 {
  color: black;
  font-size:25px;
}


